# Destacando valores ausentes (missing values)


Por Jander Guimarães<br>
LinkedIn: https://www.linkedin.com/in/janderfg/<br>
Github: https://github.com/janderfg

Uma das etapas mais importantes da Análise de Dados é o pré-processamento, e nesta etapa checamos os valores ausentes (missing values).

Existe uma função que nos ajuda a destacar os valores ausentes de forma visual.

Um exemplo é a "style.highlight_null" onde passamos a cor que será exibido e o resultado podemos ver no exemplo abaixo:

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'Nome': ['Lucas', 'Pedro', np.nan, 'Paulo', 'Eliana', \
                            'Mateus', 'Jander', 'Lucas', 'Dayana', 'Ricardo'],
                   'Idade': [16, np.nan, 23, 17, 32, 65, 36, np.nan, 33, 18]})

In [3]:
df.style.highlight_null(null_color='red')