# Visualizando "N" maiores ou menores valores
### Visualizing_N_Largest_or_N_Smallest


Por Jander Guimarães<br>
LinkedIn: https://www.linkedin.com/in/janderfg/<br>
Github: https://github.com/janderfg

Ao analisar dados, é muito comum o interesse por visualizar o maior e menor valor.

Porém em algumas situações queremos visualizar "n" maiores ou "n" menores. Por exemplo, quais são os 3 produtos que mais tiveram vendas?

A função `"nlargest()"` e a função `"nsmallest()"` permitem exatamente isso.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'Produto': ['Macarrão', 'Arroz', 'Feijão', 'Carne', 'Pão', \
                            'Óleo', 'Farinha', 'Açucar', 'Detergente', 'Sabão em Pó'],
                   'Qtde': [12000, 8000, 10450, 7540, 10450, 6500, 3235, 800, 5670, 14518]})

In [3]:
df.nlargest(3, 'Qtde')

       Produto   Qtde
9  Sabão em Pó  14518
0     Macarrão  12000
2       Feijão  10450

In [4]:
df.nlargest(3, 'Qtde', keep='last')

       Produto   Qtde
9  Sabão em Pó  14518
0     Macarrão  12000
4          Pão  10450

In [5]:
df.nlargest(3, 'Qtde', keep='all')

       Produto   Qtde
9  Sabão em Pó  14518
0     Macarrão  12000
2       Feijão  10450
4          Pão  10450

**Exemplo com `'nsmallest'`**

In [6]:
df.nsmallest(3, 'Qtde')

      Produto  Qtde
7      Açucar   800
6     Farinha  3235
8  Detergente  5670